body{
background-image: linear-gradient(45deg,rgb(179, 115, 179),rgb(0, 0, 0),rgb(107, 57, 107));
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin: 0;
height: auto;
transition: background-color 0.5s ease-in-out;
pointer-events: all;
position: relative;
}
#pict1{
    position: absolute;
    width: 400px;
    height: 573px;
    top: 20px;
    left: 69%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out;
    z-index: 9999;
    pointer-events: none;
}
body:hover #pict1{
    opacity: 1;
    filter: brightness(1.5);
    pointer-events: auto;
}
body:not(:hover) #pict1{
    opacity: 0;
}
#rectangle{
background-color: transparent;
color: whitesmoke;
font-family: poppins;
font-size: 30px;
margin-top: 5px;
position: relative;
padding-left: 10px;
text-align: left;}
#Login{
    position: absolute;
   width: 80px;
   height: 40px;
   right: 7%;
top: 10%;
background-image: linear-gradient(to right, #8e44ad,hwb(287 56% 21%),#d3b0e1);
border-radius: 10px;
cursor: pointer;
transition: background 0.3s ease;
font-weight: bold;
color: black;
font-family: poppins;
pointer-events: all;
z-index: 10;

}

#Login:hover{
    background-image: linear-gradient(to right, #000000,#8e44ad) !important;
    color: #ccc;
    font-family: poppins;
    
}


#list{ list-style: none;

    padding: 0;
    margin: 0;
    gap: 10px;
    font-size: 15px;
    position: absolute;
    margin-left: 100px;
top: 5%;
left: 30%; 
padding: 10px 15px;
border-radius: 5px;
font-weight: bold;
display: flex;
box-shadow: 10px 10px 10px rgb(0, 0,0,0.3);
font-family: poppins;}
#list li{
    color: #000000;

}
#list a{
    text-decoration: none;
    color: #ccc;
}
#list a:hover{
    color: #000000;
}
#Ai{
    font-family: poppins;
color: #ccc;
font-size: 20px;
opacity: 0;
transform: translateX(50px);
animation: slideIn 1.2s ease-out 0.4 forwards;
}
@keyframes slideIn{
    to {
        opacity: 1;
        transform: translateX(0);
        color: #ccc;
    }
}
.tittle{
    color: #ccc;
    font-family: poppins;
    font-size: 30px;
}
.tittle2{
    color: rgb(199, 145, 199);
    font-size: 40px;
}

#button1{
    position: relative;
    background-image: linear-gradient(to left, #8e44ad,hwb(287 56% 21%),#d3b0e1);
border-radius: 10px;
cursor: pointer;
transition: background 0.3s ease;
font-weight: bold;
color: black;
font-family: poppins;
width: 90px;
   height: 40px;
   top:46%;
   left: 5%;

}
#button2{
      position: relative;
    background-image: linear-gradient(to left, #8e44ad,hwb(287 56% 21%),#d3b0e1);
border-radius: 10px;
cursor: pointer;
transition: background 0.3s ease;
font-weight: bold;
color: black;
font-family: poppins;
width: 90px;
top: 46%;
left: 12%;
width: 90px;
height: 40px;
 }
 #button1:hover{
    background-image: linear-gradient(to right, #000000,#8e44ad) ;
    color: #ccc;
    font-family: poppins;
}
#button2:hover{
    background-image: linear-gradient(to right, #000000,#8e44ad);
    color: #ccc;
    font-family: poppins;
}
#par2{
   font-family: poppins;
   font-size: 20px;
color: #ccc;
font-style: italic;
}

.bo{
    font-size: 20px;
    color: white;
    width: 400px;
    height: 90px;
    border-radius: 50px;
    text-align: center;
    animation: glow-border 1.5s infinite ease-in-out,
    glow-background 2.5s infinite ease-in-out;
    transition: all 0.3s ease-in-out;
    
}
.por{
    color: #d3b0e1;
    font-size: 60px;
    font-family: poppins;
    animation: glow-text 1.5s infinite ease-in-out;
}
.por2{
    color: white;
    font-size: 25px;
    font-family: poppins;
    font-style: italic;
    animation: glow-text 1.5s infinite ease-in-out;
}
@keyframes glow-border {
    0% {
        box-shadow: 0 0 5px #8e44ad;
    }
    50% {
        box-shadow: 0 0 20px #d3b0e1;
    }
    100% {
        box-shadow: 0 0 5px #8e44ad;
    }
}
@keyframes glow-text{
    0% {
        text-shadow: 0 0 5px #8e44ad;
    }
    50% {
        text-shadow: 0 0 15px #d3b0e1;
    }
    100% {
        text-shadow:  0 0 5px #8e44ad;
    }
}
@keyframes glow-background{
    0% {
        background-image: linear-gradient(45deg,rgb(179, 115, 179),rgb(0, 0, 0),rgb(107, 57, 107));

    }
    50% {
        background-image:linear-gradient (45deg,rgb(0, 0, 0));
    }
    100% {
        background-image:linear-gradient(45deg,rgb(107, 57, 107)) ;
    }
}
.section-wrapper{
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
}
section{
    position: relative;
   width: 43%;
    padding: 15px;
    background-image:  linear-gradient(45deg,rgb(179, 115, 179),rgb(0, 0, 0),rgb(107, 57, 107));
    border-radius: 30px;
    box-shadow: none;
    text-shadow: none;
}


#hr{
    width: 50%;
}
#tittle1{
    text-shadow:0 0 10px #8e44ad, 0 0 20px #d3b0e1;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

#About{ background-image:  linear-gradient(45deg,rgb(179, 115, 179),rgb(0, 0, 0),rgb(107, 57, 107));
font-family: poppins;
font-size: 14px;
font-style:italic;
color: #ccc;
text-shadow: 0 0 2.5px black,0 0 5px plum;
font-weight: bold;

}
#about2{
     background-image:  linear-gradient(45deg,rgb(179, 115, 179),rgb(0, 0, 0),rgb(107, 57, 107));
font-family: poppins;
font-size: 14px;
font-style:italic;
color: #b094bc;
text-shadow: 0 0 2.5px black,0 0 5px plum;
font-weight: bolder;
box-shadow: none;
}
#tittle2{
    text-shadow:0 0 10px #8e44ad, 0 0 20px #d3b0e1;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    text-align: center;

}
#Contact{ background-image:  linear-gradient(45deg,rgb(179, 115, 179),rgb(0, 0, 0),rgb(107, 57, 107));
font-family: poppins;
font-size: 18px;
font-style:italic;
color: #ccc;
text-shadow: 0 0 5px black,0 0 10px plum;


}
#whats{
    font-size: 25px;
    font-family: poppins;
    color: #d3b0e1;

}
#insta{font-size: 25px;
    font-family: poppins;
    color: #d3b0e1;

}
#email{
    font-size: 25px;
    font-family: poppins;
    color: #d3b0e1;

}
.contact-icon a{
   display: inline-block;

}
.contact-icon i{
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease-in-out;
    display: inline-block;
}
.contact-icon.animate a:nth-of-type(1) i {
    opacity: 1;
    transform: translateY(0);
    transition-delay:0.2s ;
}
.contact-icon.animate a:nth-of-type(2) i {
    opacity: 1;
    transform: translateY(0);
    transition-delay:0.5s ;
}

.contact-icon.animate a:nth-of-type(3) i {
    opacity: 1;
    transform: translateY(0);
    transition-delay:0.8s ;
}


